@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');

$black: #0A0908;
$blue: #92DCE5;
$green: #393d27;
$highlight: #EEE5E9;
$darklight: #BFACB5;
$text-font: 'Roboto', sans-serif;
$h-font: 'Noto Sans', sans-serif;

$large-screen: 1200px;
$medium-screen: 768px;
$small-screen: 480px;