footer{
    background-color: $highlight;
    color: $green;
    border-radius: 1em 1em 0 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    a{
        color: $black;
        margin-left: 10px;
    }
}