form {
    grid-template-rows: auto;
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        padding: 4px;
        border-radius: 4px;
        border-color: $darklight;
        width: 15%;
        @include screen-size(large-screen) {
            width: 25%;
            margin: auto;
        }
        @include screen-size(medium-screen) {
            width: 55%;
            margin: auto;
        }
        @include screen-size(small-screen) {
            width: 90%;
            margin: auto;
        }
        margin-top: 8px;
        margin-bottom: 8px;
    }
    select {
        width: 15%;
        font-size: 20px;
    }
    button {
        width: 15%;
        margin: auto;
        margin-top: 1em;
        @include screen-size(large-screen) {
            width: 25%;
            margin: auto;
        }
        @include screen-size(medium-screen) {
            width: 55%;
            margin: auto;
        }
        @include screen-size(small-screen) {
            width: 90%;
            margin: auto;
        }
    }
    display: grid;
}

input[type="checkbox"] {
    transform: scale(2);
}
