form{
    grid-template-rows: auto;
    input{
        padding: 4px;
        border-radius: 4px;
        border-color: $darklight;
    }

    button{
        @include screen-size(large-screen){
            width: 25%;
            margin: auto;
            color: pink;
        }
        @include screen-size(medium-screen){
            width: 50%;
            margin: auto;
        }

    }
    display: grid;
}