p, input{
    font-family: $text-font;
    line-height: 1.4em;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, label, a{
    font-family: $h-font;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 20px;
}

input{
    font-size: 16px;
}

label{
    font-weight: bold;
}

a{
    :hover{
        text-decoration-color: $blue;
        color: $highlight;
    }
}



button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}